# Ignorar arquivos temporários
*.tmp
*.log
*.json
*.csv
teste.py
*.xlsx
*.sql

# Ignorar diretórios de dependências e bibliotecas
/mysql/dbdata/
/__pycache__/

# Ignorar arquivos gerados durante a compilação
/build/
/dist/

# Ignorar arquivos de configuração específicos para cada desenvolvedor
.env
.env.local