# Ignorar arquivos temporários
*.tmp
*.log
*.json
*.csv
teste.py
*.xlsx
*.sql
*.bak
*.txt

# Ignorar diretórios de dependências e bibliotecas
/mysql/dbdata/
/mysql/homol/
__pycache__/

# Ignorar arquivos gerados durante a compilação
venv/
.venv/